ALTER VIEW [mis].[v_class_details] AS

	SELECT cl.m_id class_id
	, cl.m_reference class_ref
	, cs.m_reference course_ref
	, pr.m_reference prog_ref
	, cl_yr.cy_offset class_offset
	, cs_yr.ay_startyear course_start
	, pr_yr.ay_startyear prog_start
	, pr_yr.cy_offset prog_offset
	, 1 + (cs_yr.ay_startyear - pr_yr.ay_startyear) year_of_program
	, lev.level_code
	, lev.level_ref
	, lev.level_name
	, lev.level_group
	, subj.subject_ref
	, subj.subject_name
	, subj.subject_group
	, cl_cs.o_source course_id
	, cs_pr.o_source prog_id
	, pr.m_parent template_id
	FROM capd_module cl
	INNER JOIN capd_offering cl_cs
		ON cl.m_id = cl_cs.o_destination
	INNER JOIN capd_offering cs_pr
		ON cl_cs.o_source = cs_pr.o_destination
	INNER JOIN capd_module cs
		ON cl_cs.o_source = cs.m_id
	INNER JOIN capd_module pr
		ON cs_pr.o_source = pr.m_id
	INNER JOIN mis.academic_year_sessions cl_yr
		ON cl.m_start BETWEEN cl_yr.ay_start AND cl_yr.ay_end
		AND cl_yr.ht_half_term = 'AU1'
	INNER JOIN mis.academic_year_sessions cs_yr
		ON cs.m_start BETWEEN cs_yr.ay_start AND cs_yr.ay_end
		AND cs_yr.ht_half_term = 'AU1'
	INNER JOIN mis.academic_year_sessions pr_yr
		ON pr.m_start BETWEEN pr_yr.ay_start AND pr_yr.ay_end
		AND pr_yr.ht_half_term = 'AU1'
	LEFT JOIN mis.template_subject_summary subj
		ON pr.m_parent = subj.template_id
	LEFT JOIN mis.level_codes lev
		ON pr.m_level = lev.level_code
	WHERE cl.m_type = 'CL'
	;
